 /* Carga de Loader */
    #cargaLoader {
        position: absolute;
        left: 50%;
        top: 50%;
        width: 400px;
        height: 200px;
        margin: -100px 0 0 -200px;
    }

    #cargaLoader2 {
        position: absolute;
        left: 50%;
        top: 50%;
        width: 400px;
        height: 200px;
        margin: -100px 0 0 -200px;
    }